# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
venv/

# Editor/OS files
.DS_Store
**/.DS_Store
.vscode/
Pre_MVDR_Dataset/
Post_MVDR_Dataset/
BATCH_PROCESS_README.md

